<div class="row" ng-controller="EndCtrl">
  <h1>All done</h1>
  <h2 ng-if="is_time_over">Christmas has come around again.<h2>
  <h2 ng-if="!is_time_over">You hit all your targets!<h2>
  
  <h3>You needed to produce, have a sleigh large enough to carry, and sufficient reindeer power to pull <strong>{{ target_presents | humanize_number }}</strong> presents.</h3>
  <ul>
    <li>
      You made <strong>{{ sleigh.presents | humanize_number }}</strong> presents
      <yes-no target="target_presents" actual="sleigh.presents">
    </li>
    <li>
      Your sleigh could hold <strong>{{ sleigh.capacity | humanize_number }}</strong> presents
      <yes-no target="target_presents" actual="sleigh.capacity">
    </li>
    <li>
      You had enough reindeer power to pull a sleigh containing <strong>{{ sleigh.power | humanize_number }}</strong> presents
      <yes-no target="target_presents" actual="sleigh.power">
    </li>
  </ul>

  <div ng-if="!is_time_over">
    <h2>You managed this by {{ date | amDateFormat:'Do MMMM YYYY (a)' }}</h2>
    <p ng-if="previous_best">
      Your previous best when aiming for <em>{{ target_presents | humanize_number }} presents</em> was {{ previous_best | amDateFormat:'Do MMMM YYYY (a)' }}.
      <span class="new-best" ng-show="new_best">That's a new best for you!</span>
    </p>
    
  </div>
  <button
    type="button"
    class="btn-round btn-play-again"
    ng-click="game_ctrl.reset()"
  >
    Again!
  </button>
</div>