@import "_utils";
@import "_css3";
@import "_colours";


$row-width: 1200px;
$gutter-width: 1em;

.row {
    width: $row-width;
    margin: 0 auto;
    padding: 0 $gutter-width;
    overflow: hidden;
}
@include media-width-query($row-width) {
    .row {
        width: 100%;
    }
}

.column {
    width: 100%;
}

header {
    overflow: hidden;
    font-size: 0.9em;
    font-weight: 800;
    background-color: $colour-red;
    color: $colour-white;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    line-height: 2 * 1 / 0.9;

    img {
        width: 2em;
        height: 2em;
    }

    time {
        display: block;
        float: right;
    }
    .presents {
        background-image: image-url("present-tight.svg");
        background-repeat: no-repeat;
        @include background-size(2em 2em);
        display: inline-block;
        height: 2em;
        padding-left: 2.1em;
        line-height: 2 * 1 / 0.9;
    }
}



@include media-orientation-query(landscape) {
    .column {
        width: 50%;
        float: left;

        &:nth-child(odd) {
            padding-right: $gutter-width;
        }
        &:nth-child(even) {
            padding-left: $gutter-width;
        }
    }

}