@import "utils";
@import "css3";
@import "colours";


$row-width: 1200px;

$gutter-width-small: 0.5rem;
$gutter-width: $gutter-width-small * 2;
$gutter-width-large: $gutter-width * 2;

.row {
    width: $row-width;
    margin: 0 auto;
    padding: 0 $gutter-width;
    overflow: hidden;
}
@include media-width-query($row-width) {
    .row {
        width: 100%;
    }
}

.column {
    width: 100%;
}

body {
    padding-top: $gutter-width-large + $gutter-width;
    padding-bottom: $gutter-width-large + $gutter-width;
}

$header-font-size-factor: 0.9;
header, footer {
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
    font-size: $gutter-width * $header-font-size-factor;
    background-color: $colour-red;
    color: $colour-white;
}
header {
    top: 0;
    margin-bottom: $gutter-width-small;
    line-height: 2 * 1 / $header-font-size-factor;
    font-weight: 800;
    padding: $gutter-width-small $gutter-width;

    img {
        width: $gutter-width-large;
        height: $gutter-width-large;
    }

    time {
        display: block;
        float: right;
    }
    .presents {
        background-image: image-url("present.svg");
        background-repeat: no-repeat;
        @include background-size($gutter-width-large $gutter-width-large);
        display: inline-block;
        height: $gutter-width-large;
        padding-left: $gutter-width-large + 0.1rem;
    }
}
footer {
    bottom: 0;
    padding: 0 $gutter-width;
}
@include media-width-query(700px) {
    footer {
        position: static;
    }
}

@include media-orientation-query(landscape) {
    .column {
        width: 50%;
        float: left;

        &:nth-child(odd) {
            padding-right: $gutter-width;
        }
        &:nth-child(even) {
            padding-left: $gutter-width;
        }
    }

}


.simple {
    header a {
        color: $colour-white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .row a {
        color: $colour-red;
    }
}