@import "_colours";
@import "_utils";


$button-size: 5rem;
$button-size-large: 2 * $button-size;


.btn-round {
    background-color: $colour-red;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 50%;
    display: block;
    border: none;
    @include equal-dimensions($button-size);
    
    &:hover {
        background-color: $colour-red-light;
    }

    &:focus {
        outline: none;
    }
    
    &:disabled {
        background-color: desaturate($colour-red, 100%);

        &:hover {
            background-color: desaturate($colour-red-light, 100%);
        }
    }
}


.btn-present {
    background-image: image-url("present-tight.svg");
    @include equal-dimensions($button-size-large);
    @include background-size(80%);
}

.btn-start {
    color: $colour-white;
    font-size: 3rem;
    @include equal-dimensions($button-size-large);
    display: block;
    margin: 1em auto;
}


$button-types: elf reindeer santa sleigh elf-trainer elf-mechanic duplicate;
@each $button-type in $button-types {
    .btn-#{$button-type} {
        background-image: image-url("#{$button-type}.svg");
        @include background-size(70%);
    }
}
